*~
bin
parts
coverage
eggs
sources
.installed.cfg
.mr.developer.cfg
develop-eggs
var/*
*.egg-info
*.pyc
*.pt.py
*.pt.pyc
.DS_Store
db.sqlite
source
src/docs
src/ptah
src/biga
src/ptah_crowd
src/pyramid
downloads/dist

